Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MS_ForestTut/Scatter_3D/02_Dry_Branches_pdye3/Sctr_wood_stick_M_pdye3_8K_Albedo.uasset
Content/MS_ForestTut/Scatter_3D/02_Dry_Branches_pdye3/Sctr_wood_stick_M_pdye3_8K_Normal_LOD0.uasset
